@import 'mixins/css3mixins';
@import 'variables';

h2 {
	display: inline-block;
	margin: 0 0 10px 0;
}

.bg-primary {
	background-color: $darkenBaseColor;

	&:hover {
		background-color: $baseColorHover;
		cursor: pointer;
	}
}

.glyphicon-star {
	color: yellow;
}

.rate {
	font-size: 16px;
}